body {
  margin: auto;
  text-align: center;
  background-color: #C6C5B9;
}

p{
  text-align: center;
  font-size: 18px;
}

h1 {
  font-family: limelight;
}

h2 {
  font-family: Pattaya, "comic sans";
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #546A7B;
  padding: 20px;
}

hr {
  color: #62929E;
  height: 50px;
  width: 50px;
  display: block;
  background-image: url ("images/d-20-logo.png");
  background-color: #62929E;
}

header {
  display: block;
  background-color: #000814;
  color: oldlace;
  margin: 0px 0px 50px 0px;
}

main img {
width: 300px;
display: block;
margin: auto;
padding: auto;
}

nav li{
  color: black;
  height: 40px;
  width: 90px;
  text-align: center;
  padding-bottom: -20px;
}
